body{
    font-family: Tahoma;
    text-align: center;
    background-color: rgb(194, 191, 191);
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 44, 44);
}

header ul{
    list-style: none;
    display:flex;
    justify-content: space-around;
}


#logo{
    padding: 20px;
    width: 500px;
    background-color: grey;
    margin: 50px auto;
}

#filmes{
    border-collapse: separate;
    border-spacing: 20px;
    margin: 0 auto;
}

#filmes td {
    width: 150px;
    text-align: center;
    vertical-align: top;
    padding: 10px;
    background-color: rgb(21, 21, 21);
    color: white;
    font-size: 14px;
}

#filmes img {
    width: 225px;
    height: 300px;
    object-fit: cover;
}

#maisvistos{
    display: flex;
    justify-content: center;
}

summary{
    color:#312b32;
}

summary:hover{
    color: #181818;
}

img, a{
    transition: filter 0.3s ease;
    text-decoration: none;
    color: #828077;
}

.extra a{
    color: #828077;
}

button{
    background-color: #606060;
    border: #393939;
}

.accordion {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
    border: 1px solid #312b32;
}

.accordion label:hover{
    background-color: #181818;

}

.accordion input[type="checkbox"] {
    display: none;
}

.accordion label {
    transition: background-color 300ms ease;
    display: block;
    background: #393939;
    color: #828077;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
}


.conteudo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    background: grey;
}

.conteudo a{
    color: #312b32;
}


input[type="checkbox"]:checked ~ .conteudo {
    max-height: 200px;
    padding: 15px;
}

footer{
    bottom: 0;
    background-color: #444444;
    position: relative;
    width: 100%;
}

img:hover, a:hover{
    filter: brightness(70%);
    text-decoration: none;
    color: #181818;
}

button:hover{
    background-color: #3d3c3c;
}

